
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(assets/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border: none;
  padding: 20px;
}
.display{
  font-size: 5rem;
  font-family: monospace;
  color: blue;
  margin-bottom: 25px;
}
.controls button{
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 5px;
  color: #fff;
  transition: 0.5 ease;
}
.controls button:hover{
  opacity: 0.5;
}
.startButton{
  background-color: green;
}
.stopButton{
  background-color: red;
}
.resetButton{
  background-color: blueviolet;
}
